.alert.alert-notification {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.notification-inner {
    margin: 0 auto;
}

/*Spinner number input*/
.padding-top-25 {
    padding-top: 25px;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.nowrap {
    white-space: nowrap;
    margin: 0 5px 0 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.fielderror, .datatype, .charcount {
    display: none;
}

@media ( max-width: 585px ) {
    .input-group span.input-group-btn, .input-group input, .input-group button {
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .input-group {
        position: relative;
    }

        .input-group span.data-up {
            position: absolute;
            top: 0;
        }

        .input-group span.data-dwn {
            position: absolute;
            bottom: 0;
        }

    .form-control.text-center {
        margin: 34px 0;
    }

    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        margin-left: 0;
    }
}

/*End of spinner number input*/