@if (TempData["ErrorMessage"] != null)
{
            <div class="alert alert-danger alert-dismissable alert-notification text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(TempData["ErrorMessage"])
            </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="notification">
        <div class="notification-inner">
            <div class="alert alert-success alert-dismissable alert-notification">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(TempData["SuccessMessage"])
            </div>
        </div>
    </div>
}


